.board {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.board__field {
  align-items: center;

  box-sizing: border-box;
  border-bottom-width: 2px;
  border-color: #007084;
  border-right-width: 2px;
  border-style: solid;
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;

  &:before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
    content: '';
    display: block;
    height: 60px;
    width: 60px;
  }
}

.board__field:hover {
  background-color: aliceblue;
}

.board__field--ought {
  &:before {
    background-image: url('/img/ought.svg');
  }
}

.board__field--cross {
  &:before {
    background-image: url('/img/cross.svg');
  }
}


@keyframes winner {
  from {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  to {
    transform: scale(1, 1);
  }
}

.board__field--winner {
  &:before {
    animation: winner  1s infinite ease-in-out;
  }
}

.board--picker {
  height: 100px;
  width: 200px;

  .board__field {
    border-bottom-width: 0;
  }

  .board__field:last-child {
    border-right-width: 0;
  }
}

.board--game {
  height: 300px;
  width: 300px;

  .board__field:nth-child(3n) {
    border-right-width: 0;
  }

  .board__field:nth-child(7),
  .board__field:nth-child(8),
  .board__field:nth-child(9) {
    border-bottom-width: 0;
  }
}

.night-theme .board__field {
  background-color: #292925;
  color: #ffffff;
}

.night-theme .board__field:hover {
  background-color: #121269;
}

.night-theme .board__field--ought {
  &:before {
    background-image: url('/img/ought-night.svg');
  }
}

.night-theme .board__field--cross {
  &:before {
    background-image: url('/img/cross-night.svg');
  }
}
